body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F8C8DC;
}

#screen {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3/4 for container, 1/4 for card */
    gap: 20px; /* optional: adds some space between the container and card */
    height: 100vh; /* take the full height of the viewport */
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card {
    height: 50%;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.5);
} */

@keyframes blink {
    0%, 100% {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    }
    50% {
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    }
}
  
.card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
    animation: blink 2s infinite; 
}
  